.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  
    margin: 0px;
    width: 80px;
    height: 100%;
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
  }
  .wd-kanbas-navigation a .icon-block {
    display: block;
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
  }
  .wd-kanbas-navigation .icon-account {
    color: white;
}
.wd-kanbas-navigation img {
    height: 40px; 
    width: auto;
  }
  .wd-kanbas-navigation a svg {
    color: red;
  }
  .icon-account svg {
    color: white;
  }
  .wd-kanbas-navigation li.wd-active a svg {
    color: red !important; 
  }
  
  
  