body {
    background-color: #f5f5f5; 
    font-family: 'Arial', sans-serif; 
}

.list-group-item {
    background-color: #f5f5f5; 
    border: none; 
    padding: 10px 15px; 
    display: flex; 
    align-items: center; 
    color: #666; 
    text-decoration: none; 
}

.list-group-item i {
    width: 25px; 
    color: #666; 
    margin-right: 10px; 
}

.list-group-item button {
    border-radius: 4px; 
    padding: 5px 10px; 
}

.unpublish-button {
    background-color: #d9534f; 
}

.upcoming-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.view-calendar {
    display: flex;
    align-items: center; 
}


